footer {
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}

fa-icon {
    color: white;
    font-size: 18pt;
    margin: 10px;
}