.container {
    border: 1px solid white;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 20pt;
    transform-style: preserve-3d;
}

.letter {
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateX(180deg);
}
